<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>434843909189-2qaac608iu4idevaj654m3m2jd517b8p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.434843909189-2qaac608iu4idevaj654m3m2jd517b8p</string>
	<key>API_KEY</key>
	<string>AIzaSyCpU2of-cB5ss9BV48kpmt5IzjyxFWRiOM</string>
	<key>GCM_SENDER_ID</key>
	<string>434843909189</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Conner.HadInvested</string>
	<key>PROJECT_ID</key>
	<string>hadinvested</string>
	<key>STORAGE_BUCKET</key>
	<string>hadinvested.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:434843909189:ios:05b78bdc3d0f5c09</string>
	<key>DATABASE_URL</key>
	<string>https://hadinvested.firebaseio.com</string>
</dict>
</plist>